.help {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 36px;
    min-height: 450px;
    position: relative;
    border-radius: 24px;
    border: 2px solid #FFB834;
    overflow: hidden;
    background: linear-gradient(90deg, #FCFBFA 4.1%, #F9F8F7 95.9%), #FFF;
  }

  &__content {
    max-width: 455px;
  }

  &__title {
    font-size: 60px;
    font-family: $inter;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 32px;
  }

  &__text {
    font-weight: 500;
    margin-bottom: 28px;
  }

  &__link {
    padding: 15px 18px;
    min-width: 300px;
  }

  &__img {
    @include objectCoverBg;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}