.achievements {
  @include r($phone) {
    margin-bottom: 90px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 48px;
    @media (max-width: 1220px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 640px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    @include flex-align-center(14);
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #F4F4F4;
    background: #FFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
    @media (max-width: 1220px) {
      max-width: 320px;
      width: 100%;
    }
    @media (max-width: 720px) {
      max-width: 300px;
    }
    @media (max-width: 680px) {
      max-width: 290px;
    }
    @media (max-width: 640px) {
      padding: 17px 14px 20px;
      flex-direction: column;
      text-align: center;
      gap: 26px;
    }
    @media (max-width: 480px) {
      padding: 22px 14px;
      max-width: 360px;
    }

    img {
      @media (max-width: 1300px) {
        width: 70px;
        height: 70px;
      }
      @media (max-width: 1250px) {
        width: 66px;
        height: 66px;
      }
      @include r($lg) {
        width: 58px;
        height: 58px;
      }
      @media (max-width: 520px) {
        width: 54px;
        height: 54px;
      }
    }
  }

  &__text {
    color: #4A4A4A;
    font-family: $inter;
    font-weight: 600;
    font-size: 22px;
    max-width: 200px;
    @media (max-width: 1400px) {
      font-size: 20px;
    }
    @include r($lg) {
      font-size: 18px;
    }
    @media (max-width: 640px) {
      font-size: 20px;
    }
    @media (max-width: 520px) {
      font-size: 18px;
    }
    @media (max-width: 480px) {
      font-size: 21px;
    }
  }

  &__logos {
    @include flex-align-center(35);
    justify-content: center;
    flex-wrap: wrap;
  }
}