.banner {
  &__inner {
    @include bg;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    padding: 74px 36px;
    @media (max-width: 1100px) {
      padding: 65px 30px;
      border-radius: 20px;
    }
    @include r($lg) {
      margin: 0 -5px;
    }
    @include r($sm) {
      padding: 55px 25px;
    }
    @include r($phone) {
      padding: 40px 23px 30px;
    }
    @media (max-width: 410px) {
      border-radius: 16px;
    }

    &.black {
      &::before {
        @include pseudo;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .3);
        display: none;
        @media (max-width: 560px) {
          display: block;
        }
      }
    }
  }

  &__title {
    position: relative;
    z-index: 5;
    font-family: $inter;
    font-size: 64px;
    font-weight: 700;
    max-width: 490px;
    margin-bottom: 28px;
    line-height: 1.15;
    color: rgba(255, 255, 255, 0.95);
    letter-spacing: 0.64px;
    @media (max-width: 1300px) {
      font-size: 60px;
    }
    @include r($desktop) {
      font-size: 56px;
    }
    @media (max-width: 1100px) {
      font-size: 50px;
    }
    @include r($lg) {
      font-size: 46px;
      margin-bottom: 36px;
    }
    @media (max-width: 910px) {
      font-size: 42px;
    }
    @include r($tablet) {
      font-size: 38px;
    }
    @media (max-width: 680px) {
      font-size: 36px;
    }
    @include r($sm) {
      font-size: 34px;
    }
    @media (max-width: 480px) {
      font-size: 32px;
      margin-bottom: 40px;
    }
    @media (max-width: 420px) {
      font-size: 30px;
    }
    @media (max-width: 390px) {
      font-size: 28px;
    }

    &.long {
      max-width: 670px;
      @media (max-width: 1300px) {
        max-width: 640px;
      }
      @include r($desktop) {
        max-width: 540px;
      }
      @media (max-width: 1100px) {
        max-width: 490px;
      }
      @media (max-width: 910px) {
        max-width: 420px;
      }
      @include r($tablet) {
        max-width: 380px;
      }
      @include r($sm) {
        max-width: 340px;
      }
      @media (max-width: 390px) {
        max-width: 300px;
      }
    }

    &.how-works {
      @include r($lg) {
        max-width: 430px;
      }
      @media (max-width: 910px) {
        max-width: 390px;
      }
      @include r($tablet) {
        max-width: 340px;
      }
      @media (max-width: 480px) {
        max-width: 300px;
      }
      @media (max-width: 390px) {
        max-width: 280px;
      }
    }
  }

  &__content {
    max-width: 540px;
    padding: 28px;
    border-radius: 14.25px;
    background: linear-gradient(125deg, rgba(175, 157, 136, 0.46) 9.11%, rgba(175, 158, 140, 0.50) 90.89%);
    box-shadow: 0 3px 3px 0 rgba(255, 255, 255, 0.25) inset;
    backdrop-filter: blur(10.800000190734863px);
    @media (max-width: 840px) {
      max-width: 460px;
    }
    @include r($sm) {
      max-width: 400px;
    }
    @media (max-width: 515px) {
      max-width: 360px;
    }
    @media (max-width: 410px) {
      padding: 26px 22px;
    }
  }

  &__head {
    @include flex-align-center(12);
    margin-bottom: 28px;
  }

  &__avatar {
    @include objectCoverBg;
    border-radius: 50%;
  }

  &__info {
    @include flex-column(3);
    line-height: 1.2;
    @include r($sm) {
      font-size: 18px;
    }
    @media (max-width: 410px) {
      font-size: 16px;
    }
  }

  &__name {
    color: $white;
  }

  &__from {
    color: rgba($white, .6);
    font-weight: 500;
  }

  &__text {
    color: $white;
    font-weight: 500;
    font-size: 22px;
    max-width: 370px;
    line-height: 1.4;
    @media (max-width: 1100px) {
      font-size: 20px;
    }
    @media (max-width: 840px) {
      font-size: 18px;
      max-width: 320px;
    }
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
}