.footer {
  &__top {
    @include flex-between-center-gap(30);
    margin-bottom: 55px;
    @include r($lg) {
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
    }
  }

  &__list {
    @include flex-align-center(30);
    gap: 20px 30px;
    flex-wrap: wrap;
    @include r($phone) {
      gap: 20px 20px;
    }
  }

  &__link {
    color: #3E3E3E;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: color .4s, border .4s;
    @include r($phone) {
      font-size: 16px;
    }

    &:hover {
      color: $orange100;
    }

    &:focus {
      border-color: $orange100;
    }
  }

  &__email {
    font-family: $inter;
    font-weight: 500;
    color: #4A4A4A;

    a {
      border-radius: 5px;
      padding: 1px;
      transition: color .4s, background-color .4s;

      &:hover {
        color: $orange100;
      }

      &:focus {
        background-color: $orange100;
        color: $white;
      }
    }
  }

  &__copy {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
    @include r($lg) {
      font-size: 16px;
      margin-bottom: 20px;
    }
    @include r($sm) {
      font-size: 14px;
    }
  }
}