.input {
  display: flex;
  padding: 21px 18px;
  font-size: 18px;
  width: 100%;
  font-weight: 600;
  letter-spacing: -0.14px;
  transition: border .4s, background-color .4s;
  color: #4A4A4A;
  border-radius: 10px;
  border: 1px solid #FFB834;
  background: rgba($white, .8);

  @include r($lg) {
    font-size: 18px;
    padding: 20px 16px;
    border-radius: 6px;
  }
  @include r($sm) {
    font-size: 16px;
  }

  &:hover {
    border-color: rgba(#141414, .7);
  }

  &:focus {
    border-color: $orange100;
    background-color: rgba($orange100, .05);
  }

  &::placeholder {
    color: #8c8c8c;
    transition: color .4s;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    -webkit-box-shadow: inset 0 0 0 50px rgba($white, .8);
    -webkit-text-fill-color: #4A4A4A;
  }

  &:-webkit-autofill:hover {
    -webkit-text-fill-color: #4A4A4A;
  }

  &--admin {
    font-size: 16px;
    padding: 20px 16px;
    @include r($tablet) {
      padding: 17px 14px;
    }
    @include r($phone) {
      font-size: 15px;
      padding: 16px 14px;
    }
  }

  &.textarea {
    min-height: 280px;
    resize: none;
  }
}

.error {
  display: none;
  color: #d91e1e;
  font-size: 16px;
  margin-bottom: 10px;

  &.active {
    display: block;
  }

  &.admin {
    font-size: 16px;
  }
}