.guarantees-choose {
  @include r($tablet) {
    margin-bottom: 60px;
  }

  &__inner {
    padding: 48px 36px;
    @include flex-align-center(30);
    border-radius: 24px;
    border: 1px solid #FFB834;
    background: #FFF;
    @media (max-width: 1140px) {
      padding: 40px 28px;
    }
    @media (max-width: 1110px) {
      flex-direction: column;
      text-align: center;
    }
    @include r($lg) {
      border-radius: 18px;
      gap: 45px;
      padding: 40px 20px;
    }
    @include r($tablet) {
      text-align: left;
      align-items: flex-start;
    }
  }

  &__title {
    font-size: 44px;
    font-family: $inter;
    font-weight: 600;
    color: #3D3D3D;
    max-width: 300px;
    @media (max-width: 1280px) {
      font-size: 40px;
      max-width: 270px;
    }
    @media (max-width: 1160px) {
      font-size: 36px;
      max-width: 240px;
    }
    @media (max-width: 1110px) {
      max-width: 560px;
    }
    @include r($lg) {
      font-size: 32px;
    }
    @include r($tablet) {
      font-size: 30px;
    }
    @media (max-width: 680px) {
      font-size: 28px;
    }
    @include r($sm) {
      font-size: 26px;
    }
    @media (max-width: 530px) {
      font-size: 24px;
    }
    @media (max-width: 395px) {
      font-size: 23px;
    }
  }

  &__list {
    @include flex-column(20);
    @media (max-width: 1110px) {
      align-items: center;
    }
    @include r($tablet) {
      align-items: flex-start;
      gap: 26px;
    }
  }

  &__item {
    @include flex-align-center(15);
    color: #4A4A4A;
    font-size: 24px;
    font-family: $inter;
    font-weight: 500;
    letter-spacing: 0.4px;
    position: relative;
    @media (max-width: 1220px) {
      font-size: 22px;
    }
    @include r($lg) {
      font-size: 20px;
    }
    @media (max-width: 680px) {
      font-size: 18px;
    }
    @media (max-width: 530px) {
      font-size: 16px;
    }

    &::before {
      content: "";
      flex-shrink: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $accent
    }
  }
}