.guarantees-steps {
  &__items {
    @include flex-column(20);
  }

  &__top, &__bottom {
    display: grid;
    grid-gap: 20px;
    @include r($lg) {
      grid-gap: 15px;
    }
    @media (max-width: 530px) {
      max-width: 400px;
      margin: 0 auto;
    }
  }

  &__top {
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 810px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 530px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .guarantees-steps__card:last-child {
      @media (max-width: 810px) {
        grid-column: span 2;
      }
      @media (max-width: 530px) {
        grid-column: span 1;
      }

      .guarantees-steps__text.middle {
        @media (max-width: 810px) {
          max-width: 560px;
        }
      }
    }
  }

  &__bottom {
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 530px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    padding: 32px 36px 48px;
    border-radius: 19px;
    border: 1px solid #F5F1ED;
    background: linear-gradient(180deg, rgba(255, 249, 245, 0.98) 0%, rgba(255, 253, 251, 0.98) 100%);
    @media (max-width: 1220px) {
      padding: 32px 28px 40px;
    }
    @include r($lg) {
      padding: 28px 24px 30px;
      border-radius: 14px;
    }
    @media (max-width: 530px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &__icon {
    margin-bottom: 28px;
    @media (max-width: 1300px) {
      width: 64px;
      height: 64px;
    }
    @media (max-width: 1100px) {
      width: 58px;
      height: 58px;
    }
    @media (max-width: 860px) {
      width: 52px;
      height: 52px;
    }
    @media (max-width: 530px) {
      width: 60px;
      height: 60px;
      margin-bottom: 36px;
    }
  }

  &__name {
    font-size: 32px;
    font-family: $inter;
    font-weight: 500;
    color: #4A4A4A;
    max-width: 260px;
    margin-bottom: 24px;
    @media (max-width: 1300px) {
      font-size: 30px;
      max-width: 240px;
    }
    @include r($desktop) {
      font-size: 28px;
      max-width: 220px;
    }
    @media (max-width: 1100px) {
      font-size: 26px;
      max-width: 210px;
    }
    @media (max-width: 910px) {
      font-size: 24px;
    }
    @media (max-width: 660px) {
      font-size: 22px;
    }
    @media (max-width: 530px) {
      font-size: 26px;
    }
    @media (max-width: 400px) {
      font-size: 24px;
    }

    &.long {
      max-width: 310px;
    }
  }

  &__text {
    font-weight: 500;
    line-height: 1.4;
    @include r($desktop) {
      font-size: 18px;
    }
    @media (max-width: 660px) {
      font-size: 16px;
    }

    &.short {
      max-width: 285px;
    }

    &.middle {
      max-width: 330px;
    }

    &.long {
      max-width: 500px;
    }
  }
}